* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background-color: rgb(227, 227, 255);
}

.navbar {
  width: 100%;
  background-color: rgb(247, 247, 253);
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 37px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  transition: all 0.6s ease-out;
}

h1 {
  color: rgb(21, 21, 68);
  letter-spacing: 2px;
  text-shadow: 0px 3.5px 3px rgb(0, 0, 0, 0.2);
}
span {
  color: rgb(54, 133, 250);
}

ul {
  list-style-type: none;
  display: flex;
  transition: 0.7s ease;
}
.menu li {
  letter-spacing: 4px;
  margin: 10px;
  color: rgba(0, 0, 128, 0.644);
  cursor: pointer;
  transition: 0.4s;
}
.menu li:hover {
  color: rgb(54, 133, 250);
}

.social-icons li {
  margin: 8px;
}
.social-icons li a {
  color: rgb(54, 133, 250);
}

button {
  display: none;
  transition: 0.4s;
  transform: translateX(100px);
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: rgb(20, 36, 61);
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 24px;
}

button:active {
  transform: rotate(180deg);
}

/*MINI SCREENS*/

@media only screen and (max-width: 770px) {
  .social-icons,
  .menu {
    display: none;
  }
  button {
    display: inline;
    transform: translateX(0);
  }
  .show {
    display: flex;
  }
  .toggle {
    height: 50vh;
    flex-direction: column;
  }
  h1 {
    position: fixed;
    left: 20px;
    top: 24px;
  }
  .menu {
    flex-direction: column;
    margin-top: 40px;
  }
}
